<!DOCTYPE html>
<html lang="en" data-theme="light">
  {{- partial "head.html" . -}}
  <body>
    <a class="skip-link" href="#main-content">Skip to content</a>
    {{- partial "nav.html" . -}}
    <div class="nav-spacer"></div>
    <main id="main-content">
      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
    {{- partial "cookie-banner.html" . -}}
    {{ $js := resources.Get "js/main.js" | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
    {{ $cookie := resources.Get "js/cookie-banner.js" | minify | fingerprint }}
    <script src="{{ $cookie.RelPermalink }}" integrity="{{ $cookie.Data.Integrity }}" defer></script>
  </body>
</html>
